{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"htmlWhitespaceSensitivity": "strict",
	"printWidth": 80,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
